doctype html
html
  head
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title Lupussino online!
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/all.min.css')
  body
    div#app

      //-FORM INIZIALE
      div#input-cnt(v-if="!(player.is_online)")
        input#player(v-model="player.name", type="text", required="true", placeholder="Nickname..." )

        input#room(v-model="room.name", type="text", required="true", placeholder="Stanza..." list="room-list")

        datalist#room-list
          room(v-for="room in room_list" v-bind:name="room.name" v-bind:players="room.player_list.filter(x => x.is_online).length" v-bind:key="room.id")

        div#enter(@click="room_enter", class="btn") Entra!

        span(v-if="errors.player_name_already_in_use") Nickname già utilizzato!
        span(v-if="errors.missing_login_data") Inserisci un nickname e una stanza!


      //-GIOCO
      div#role-cnt(v-if="player.is_online")

        div#player-list-cnt(v-bind:class="[(player_list_open) ? 'open':'close']")
          div#player-list-title Stanza {{room.name}} - {{room.player_list.filter(x => x.is_online).length}}/{{room.player_list.length}}
            span#setting-toggle(class="fas fa-cog", v-show="player.is_owner", @click="setting_window_open = !setting_window_open", v-bind:class="[(setting_window_open) ? 'open':'close']")
            span#player-list-toggle(class="fas fa-arrow-alt-circle-up", @click="player_list_open = !player_list_open")
          div#player-list
            player(v-bind:name="player.name" v-bind:status="player.is_online" v-bind:owner="player.is_owner" v-bind:key="player.id" v-bind:crown="player.is_owner" v-bind:myself="true")
            player(v-for="p in room.player_list" v-if="p.name!=player.name" v-bind:name="p.name" v-bind:status="p.is_online" v-bind:owner="player.is_owner" v-bind:key="p.id" v-bind:crown="p.is_owner" v-bind:myself="player.id==p.id")

        div(class="flip-card" @click="card_face_up = !card_face_up" v-bind:class="[(card_face_up) ? 'up':'down']")
          div(class="flip-card-inner")
            div(class="flip-card-front")
              div#role-description-cnt
                div#role {{ role }}
                div#detail {{detail}}
            div(class="flip-card-back")

        div#new-game(@click="game", v-show="player.is_owner && game_started == false && room.player_list.filter(x => x.is_online).length > 2 && room.player_list.filter(x => x.is_online).length < 7", class="btn") Nuova partita!

      div#setting-window(v-bind:class="[(setting_window_open) ? 'open':'close']")
        div#save-setting(class="btn") Salva impostazioni

  script(src='https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.dev.js')
  script(src='https://cdn.jsdelivr.net/npm/vue/dist/vue.js')
  script(src='/javascripts/main.js')