doctype html
html
  head
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title Lupussino online!
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    div#app
      div#input-cnt(v-show="!(player.is_online)")
        input#player(v-model="player.name", type="text", required="true", placeholder="Nickname...")
        input#room(v-model="room.name", type="text", required="true", placeholder="Stanza...")
        button(@click="enter") Entra!
        span(v-show="errors.player_name_already_in_use") Nickname già utilizzato!
        span(v-show="errors.missing_login_data") Inserisci un nickname e una stanza!

      //- div#role-cnt(v-show="in_room")
      //-   button(v-show="is_owner", @click="game") Nuova partita
      //-   div#role {{ role }}
      //-   div#detail {{detail}}

  script(src='https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.dev.js')
  script(src='https://cdn.jsdelivr.net/npm/vue/dist/vue.js')
  script(src='/javascripts/main.js')