doctype html
html
  head
    title Lupussino online!
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    div#app
      input#player(v-model="player", type="text", required="true", placeholder="Nickname...")
      input#room(v-model="room", type="text", required="true", placeholder="Stanza...")
      button(@click="enter") Entra!
      span(v-show="enter_error") Nickname già utilizzato!
      
      button(v-show="is_owner", @click="game") Nuova partita

      div#role-cnt
        span#role {{ role }}
        span#detail {{detail}}

  script(src='https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.dev.js')
  script(src='https://cdn.jsdelivr.net/npm/vue/dist/vue.js')
  script(src='/javascripts/main.js')