doctype html
html
  head
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title Lupussino online!
    link(rel='stylesheet', href='/stylesheets/reset.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/all.min.css')

  body
    div#app

      //-FORM INIZIALE
      div#input-cnt(v-if="!(player.is_online)")
        div(class="label") Username
        input#player(v-model="player.name", type="text", required="true")
        div(class="label") Password
        input#password(v-model="player.password", type="password", required="true")
        div(class="label") Stanza
        input#room(v-model="room.name", type="text", required="true", list="room-list")
        div(class="join-as-spectator") Entra come spettatore
          label(class="fas fa-eye" for="spectator" v-bind:class="[(player.spectator) ? 'on':'off']")
          input#spectator(v-model="player.spectator", type="checkbox", required="true", hidden="true")

        datalist#room-list
          room(v-for="room in room_list" v-bind:name="room.name" v-bind:players="room.player_list.filter(x => x.is_online).length" v-bind:key="room.id")

        div#enter(@click="room_enter", class="btn") Entra!

        span(class="error", v-if="errors.player_name_already_in_use") Nickname già utilizzato!
        span(class="error", v-if="errors.missing_login_data") Inserisci un nickname e una stanza!
        span(class="error", v-if="errors.wrong_password") Password errata!


      //-GIOCO
      div#role-cnt(v-if="player.is_online")

        div#player-list-cnt(v-bind:class="[(player_list_open) ? 'open':'close']")
          div#player-list-title
            span#setting-toggle(class="fas fa-cog", @click="open_settings", v-bind:class="[(setting_window_open) ? 'open':'close']")
            span(v-bind:class="[(setting_window_open) ? 'blur':'']") Stanza {{room.name}} - {{player_number}}/{{room.player_list.filter(x => !x.spectator).length}}
              span(class="spectator-cnt") {{room.player_list.filter(x => x.spectator).length}}
                i(class="fas fa-eye" v-show="room.player_list.filter(x => x.spectator).length > 0") 
            span#player-list-toggle(class="fas fa-arrow-alt-circle-up", @click="player_list_open = !player_list_open", v-bind:class="[(setting_window_open) ? 'blur':'']")
          div#player-list(v-bind:class="[(card_face_up) ? 'up':'down', (setting_window_open) ? 'blur':'']")
            transition-group(name="flip-list")
              player(v-for="p in scoreboard" v-bind:name="p.name" 
                                             v-bind:vote_ended="room.vote_ended"
                                             v-bind:role="p.role.name" 
                                             v-bind:voted="p.player_voted" 
                                             v-bind:score="p.score" 
                                             v-bind:increment="p.increment" 
                                             v-bind:bonus="p.bonus"
                                             v-bind:status="p.is_online" 
                                             v-bind:owner="player.is_owner"
                                             v-bind:key="p.key"
                                             v-bind:crown="p.is_owner" 
                                             v-bind:myself="player.id==p.id"
                                             v-bind:amispectator="player.spectator")

        div(class="flip-card" @click="card_face_up = !card_face_up" v-bind:class="[(card_face_up) ? 'up':'down', (setting_window_open) ? 'blur':'']")
          div#tappo-ruolo(v-bind:class="[(role_animation) ? 'rotate':'norotate']")
            div#sfondo
          transition(name="slide-fade", mode="out-in")
            div#role-description-cnt(:key="role_animation")
              div#role {{ player.role.name }}
              div#detail {{ player.role.detail }}

        div#bottom-controls
          div#votazione(v-show="room.game_started && !room.vote_ended && player.role.detail!=''" v-bind:class="[(setting_window_open) ? 'blur':'']")
            select(v-model="player.player_voted" v-bind:disabled="player.has_voted")
              option(disabled selected value="") Votazione...
              option Cielo
              option(v-for="p in room.player_list.filter(x => x.name!=player.name && x.role.detail!='' && !x.spectator)" v-if="p.name!=player.name") {{p.name}}
            div#vote(@click="vote", class="btn" v-bind:class="(player.has_voted) ? 'annulla':''") {{vote_text}}
              div#vote-detail {{room.player_list.filter(x => x.has_voted).length}}/{{room.player_list.filter(x => x.role.detail!='' && !x.spectator).length}}
          div#cheat(v-show="room.game_started && player.name == 'Valentina8' && player.cheat_available")
            select(v-model="player.player_cheated")
              option(disabled selected value="") Seleziona un giocatore da spiare...
              option(v-for="p in room.player_list.filter(x => x.name!=player.name && x.role.detail!='' && !x.spectator)" v-if="p.name!=player.name") {{p.name}}
            div#cheat-btn(@click="cheat", class="btn") Spia!

          div#new-game(@click="game", v-show="player.is_owner && player_number > 2 && player_number < 9", class="btn") Nuova partita!
          


      div#setting-window(v-bind:class="[(setting_window_open) ? 'open':'close']")
        div#setting-list
          div(class="setting" v-show="player_number > 2 && player_number < 9 && room.configurazioni[room.player_list.filter(x => x.role.detail!='' && !x.spectator).length].length > 1") Ruoli attivi:
            ul
              li(class="role" :class="r" v-for="r in room.configurazioni[room.player_list.filter(x => x.role.detail!='' && !x.spectator).length]") {{ r }}

          div(class="setting") Mitomane riconosce Assassini
            label(class="switch")
              input(type="checkbox", v-model="room.mitomane_riconosce_assassini")
              span(class="slider")

          div(class="setting") Testimoni si riconoscono
            label(class="switch")
              input(type="checkbox", v-model="room.testimoni_si_riconoscono")
              span(class="slider")

          div(class="setting") Cittadini distinti
            label(class="switch")
              input(type="checkbox", v-model="room.cittadini_distinti")
              span(class="slider")          

        div#save-setting(@click="update_settings",class="btn") Salva impostazioni

  script(src='https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.dev.js')
  script(src='https://cdn.jsdelivr.net/npm/vue/dist/vue.js')
  script(src="https://unpkg.com/vue-swal")
  script(src='/javascripts/main.js')
