* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-user-select: none; /* Safari */        
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */

  transition-property: all;
	transition-duration: .5s;
	transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
}

html, body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  height: 100%;
  width: 100%;
}

.btn {
  padding: 10px;
  cursor: pointer;
  background-color: #4CAF50;
  box-shadow: 0 3px #999;
  color: white;
  font-weight: bold;
}

.btn:hover {background-color: #3e8e41}

.btn:active {
  background-color: #3e8e41;
  box-shadow: 0 1px #666;
  transform: translateY(2px);
}

.online {
  color: #4CAF50;
}

.offline {
  color: #dc0001;
}

#app {
  display: table;
  text-align: center;
  width: 100%;
  height: 100%;
  position: relative;
}

#input-cnt, #role-cnt {
  display: table-cell;
  vertical-align: middle;
  padding: 0 5%;
}

#player, #room, #enter {
  display: block;
  margin: 20px 0;
  padding: 10px;
  width: 100%;
}

#new-game {
  position: absolute;
  bottom: 50px;
  left: 50%;
  transform: translate(-50%, 0);
  width: 90%;
}

#player-list-cnt {
  position: absolute;
  top: 10px;
  left: 5%;
  width: 90%;
  border: 1px solid #eee;
}

#player-list-cnt.close {
  border-bottom-color: transparent;
} 

#player-list-title {
  color: #4CAF50;
  font-weight: bold;
  border-bottom: 1px solid #eee;
  padding: 10px; 
}

#player-list-toggle {
  float: right;
  font-size: 16px;
  cursor: pointer;
}

#player-list-cnt.close #player-list-toggle {
  transform: rotate(180deg);
}

#player-list {
  text-align: left !important;
  overflow-y: scroll;
  max-height: 120px;
}

#player-list-cnt.close #player-list{
  max-height: 0;
}

.player {
  position: relative;
  font-size: 12px;
  padding: 0 10px;
  margin: 5px 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.player.myself {
  font-weight: bold;
}

.kick, .crown {
  cursor: pointer;
  position: absolute;
  right: 5px;
}

.kick {
  color: #ccc;
}
.crown {
  color: #fda40b;
  cursor: default;
  right: 3px;
}

.status {
  margin-right: 5px;
}

#role-description-cnt{
  display: table-cell;
  vertical-align: middle;
  padding: 0 10px;
}

#role {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 26px;
  text-shadow: 1px 1px 0px #AAA;
}

#detail {
  font-style: italic;
  font-size: 18px;
  margin-top: 10px;
}


.flip-card {
  background-color: transparent;
  width: 100%;
  height: 40%;
  perspective: 1000px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  border: 1px solid #444;
}

.flip-card.down .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.flip-card-front {
  background-color: #eee;
  z-index: 2;
  display: table;
}

.flip-card-back {
  background-color: #2980b9;
  transform: rotateY(180deg);
  z-index: 1;
}