* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  height: 100%;
  width: 100%;
}

.btn {
  padding: 10px;
  cursor: pointer;
  background-color: #4CAF50;
  box-shadow: 0 3px #999;
  color: white;
  font-weight: bold;
}

.btn:hover {background-color: #3e8e41}

.btn:active {
  background-color: #3e8e41;
  box-shadow: 0 1px #666;
  transform: translateY(2px);
}

/* .status {
  border-radius: 100%;
  margin-right: 5px;
  padding: 0;
  width: 7px;
  height: 7px;
  display: inline-block;
  line-height: 5px;
} */

.online {
  /* background-color: #4CAF50; */
  color: #4CAF50;
}

.offline {
  /*background-color: #dc0001;*/
  color: #dc0001;
}

#app {
  display: table;
  text-align: center;
  width: 100%;
  height: 100%;
  position: relative;
}

#input-cnt, #role-cnt {
  display: table-cell;
  vertical-align: middle;
  padding: 5%;
}

#player, #room, #enter {
  display: block;
  margin: 20px 0;
  padding: 10px;
  width: 100%;
}

#room-list {
  display: none;
}

#new-game {
  position: absolute;
  bottom: 50px;
  left: 50%;
  transform: translate(-50%, 0);
  width: 90%;
}

#player-list {
  min-width: 300px;
  position: absolute;
  top: 5px;
  left: 5%;
  text-align: left !important;
}

.player {
  font-size: 14px;
  width: 100%;
  padding: 5px;
  border-radius: 5px;
}

.player:hover {
  background-color: #ddd;
  border: 1px solid #aaa;
}

#role {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 22px;
}

#detail {
  font-style: italic;
  margin-top: 10px;
}