* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-user-select: none; /* Safari */        
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */

  transition-property: all;
	transition-duration: .5s;
	transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
}


/*fix iphone!*/
input, input:before, input:after {
  -webkit-user-select: initial;
  -khtml-user-select: initial;
  -moz-user-select: initial;
  -ms-user-select: initial;
  user-select: initial;
}

html, body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.btn {
  padding: 10px;
  cursor: pointer;
  background-color: #4CAF50;
  /* box-shadow: 0 3px #999; */
  color: white;
  font-weight: bold;
  border: 1px solid #000;
}

.btn:hover {background-color: #3e8e41}

/* .btn:active {
  background-color: #3e8e41;
  box-shadow: 0 1px #666;
  transform: translateY(2px);
} */

.btn.annulla {
  background-color: #d01818
}

.online {
  color: #4CAF50;
}

.offline {
  color: #d01818;
}

#app {
  display: table;
  text-align: center;
  width: 100%;
  height: 100%;
  position: relative;
}

#input-cnt {
  display: table-cell;
  vertical-align: middle;
  padding: 0 5%;
}

#role-cnt {
  height: 100%;
}

.label {
  text-align: left;
  font-style: italic;
}

#player, #room, #enter, #password {
  display: block;
  margin-bottom: 30px;
  padding: 10px;
  width: 100%;
}

.error {
  font-weight: bold;
  color: #d01818;
  font-style: italic;
}

.join-as-spectator {
  border-top: 1px solid #ccc;
  text-align: right;
  margin-bottom: 30px;
  font-style: italic;
  color: #666;
}

label.fa-eye {
  font-size: 23px;
  margin-left: 10px;
  position: relative;
  top: 3px;
  cursor: pointer;
}

label.fa-eye.on {
  color: #4CAF50;
}

#bottom-controls {
  position: absolute;
  bottom: 0;
  width: 100%;
  z-index: 999;
  padding: 20px;
}

#new-game {
  /* position: absolute;
  bottom: 50px;
  left: 50%;
  transform: translate(-50%, 0);
  width: 90%; */
  bottom: 0px;
  padding: 15px;
}

#player-list-cnt {
  position: absolute;
  z-index: 999;
  width: 100%;
  padding: 20px;
}

#player-list-cnt.close {
  border-bottom-color: transparent;
} 

#player-list-title {
  color: #4CAF50;
  font-weight: bold;
  border-bottom: 1px solid #000;
  padding: 10px 0;
  margin-bottom: 5px;
}

#player-list-toggle {
  float: right;
  font-size: 16px;
  cursor: pointer;
}

#player-list-cnt.close #player-list-toggle {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}

#setting-toggle {
  float: left;
  cursor: pointer;
  font-size: 16px;
  position: relative;
  z-index: 999;
}

#setting-toggle.close {
  color: #444;
}

#setting-toggle.open {
  color: #fff;
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
  /* position: absolute;
  font-size: 28px;
  top: 5px;
  left: 6px; */
}

.spectator-cnt {
  margin-left: 15px;
  color: #666;
}

.spectator-cnt i {
  margin-left: 2px;
}

#player-list {
  text-align: left !important;
  /* overflow-y: scroll;
  max-height: 96px; */
}

#player-list-cnt.close #player-list{
  max-height: 0;
  overflow: hidden;
}

.flip-list-move {
  transition: transform 1s;
}

.player {
  position: relative;
  font-size: 12px;
  padding: 3px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.player.myself {
  font-weight: bold;
  background-color: #d9e1ff;
}

.player-score {
  margin-right: 25px;
  margin-left: 5px;
  padding: 2px 10px;
  border-radius: 50px;
  background-color: #3970a0;
  color: #ffffff;
  float: right;
}

.player-name-container {
  display: inline-block;
  border-radius: 50px;
  width: 80px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: -5px;
}

.player-name {
  padding: 2px 5px;
  display: inline-block;
  min-width: 100%;
}

.fa-hand-point-right {
  margin-left: 3px;
}

.increment, .bonus {
  float: right;
  margin-right: 5px;
  padding: 2px 5px;
  border-radius: 50px;
  background-color: aliceblue;
}

.bonus {background-color: #15a009;}

.player-name.Assassino      {background-color: #e40606; color: #ffffff;}
.player-name.Mitomane       {background-color: #000000; color: #ffffff;}
.player-name.Investigatore  {background-color: #9e42f5; color: #ffffff;}
.player-name.Investigatrice {background-color: #f376e2; color: #000000;}
.player-name.Testimone      {background-color: #0c148a; color: #ffffff;}
.player-name.Cittadino      {background-color: #15a009; color: #ffffff;}
.player-name.Cittadina      {background-color: #15a009; color: #ffffff;}
.player-name.Cielo          {background-color: #29cff8; color: #000000;}

.role::before {content: ''; display: inline-block; width: 10px; height: 10px; border-radius: 100%; margin-right: 5px;}

.role.Assassino::before       {background-color: #e40606; color: #ffffff;}
.role.Mitomane::before        {background-color: #000000; color: #ffffff;}
.role.Investigatore::before   {background-color: #9e42f5; color: #ffffff;}
.role.Investigatrice::before  {background-color: #f376e2; color: #000000;}
.role.Testimone::before       {background-color: #0c148a; color: #ffffff;}
.role.Cittadino::before       {background-color: #15a009; color: #ffffff;}
.role.Cittadina::before       {background-color: #15a009; color: #ffffff;}

.kick, .crown {
  cursor: pointer;
  position: absolute;
  right: 5px;
  top: 7px;
}

.kick {
  color: #ccc;
}
.crown {
  color: #fda40b;
  cursor: default;
  right: 3px;
}

.status {
  margin-right: 5px;
}

#tappo-ruolo {
  position: absolute;
  z-index: 998;
  width: 100%;
  height: 100%;
  background-color: #f9f3e0;
  border: 10px solid #000;
  border-radius: 10px;
}

#tappo-ruolo #sfondo {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0%;
  left: 0%;
  z-index: -1;
  background-image: url('/img/sfondo-carta.png');
  background-repeat: no-repeat;
  background-position: center;
}

#tappo-ruolo.rotate #sfondo {
  -webkit-transform: rotate(720deg);
  -ms-transform: rotate(720deg);
  transform: rotate(720deg);
}

.flip-card.up #tappo-ruolo {
  left: 100%;
}

.flip-card.down #tappo-ruolo {
  left: 0%;
}

#role-description-cnt{
  display: table-cell;
  vertical-align: middle;
  padding: 0 10px;
  width: 100%;
  height: 100%;
}

#role {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 26px;
  text-shadow: 1px 1px 0px #AAA;
}

#detail {
  font-style: italic;
  font-size: 18px;
  margin-top: 10px;
}


.flip-card {
  width: 100%;
  height: 100%;
  display: table;
}

#votazione, #cheat {
  margin-bottom: 20px;
}

#votazione select, #cheat select {
    display: inline-block;
    padding: 10px;
    height: 38px;
    width: 49%;
    margin-right: 2%;
    border: 1px solid #000;
}

#votazione .btn, #cheat .btn{
  display: inline-block;
  width: 49%;
  position: relative;
}

#vote-detail {
  position: absolute;
  font-style: italic;
  font-size: 12px;
  bottom: 1px;
  right: 4px;
}

select:required:invalid {
  color: gray;
}
option[value=""][disabled] {
  display: none;
}
option {
  color: black;
}

.blur {
  filter: blur(3px);
}

#setting-window {
  position: absolute;
  display: table;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.8);
  top: 0;
  left: 0;
  padding: 5%;
}

#setting-window.close {
  opacity: 0;
  z-index: -999;
}

#setting-window.open {
  opacity: 1;
  z-index: 998;
}

#setting-list {
  display: table-cell;
  vertical-align: middle;
}

.setting {
  text-align: left;
  font-weight: bold;
  color: #fff;
  text-shadow:
   -1px -1px 0 #111,  
    1px -1px 0 #111,
    -1px 1px 0 #111,
     1px 1px 0 #111;
  padding: 20px 0;
  border-top: 1px solid #fff;
}

.setting:last-child {
  border-bottom: 1px solid #fff;
}

.setting ul {
  margin-top: 10px;
  margin-left: 20px;
  font-size: 13px;
  font-weight: normal;
  max-height: 100px;
  display: block;
  overflow-y: scroll;
}

#save-setting {
  position: absolute;
  bottom: 50px;
  left: 50%;
  transform: translate(-50%, 0);
  width: 90%;
}

.switch {
  position: relative;
  float: right;
  width: 37px;
  height: 21px;
  margin-top: -3px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
  margin: 0;
  padding: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  border-radius: 17px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 15px;
  width: 15px;
  left: 4px;
  bottom: 3px;
  background-color: white;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #4CAF50;
}

/* input:focus + .slider {
  box-shadow: 0 0 1px #4CAF50;
} */

input:checked + .slider:before {
  -webkit-transform: translateX(14px);
  -ms-transform: translateX(14px);
  transform: translateX(14px);
}

.slide-fade-enter-active {
  transition: all .3s ease;
}
.slide-fade-leave-active {
  transition: all .8s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}
.slide-fade-enter, .slide-fade-leave-to
/* .slide-fade-leave-active for <2.1.8 */ {
  transform: translateX(10px);
  opacity: 0;
}