* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-user-select: none; /* Safari */        
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */

  transition-property: all;
	transition-duration: .5s;
	transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
}


/*fix iphone!*/
input, input:before, input:after {
  -webkit-user-select: initial;
  -khtml-user-select: initial;
  -moz-user-select: initial;
  -ms-user-select: initial;
  user-select: initial;
}

html, body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  height: 100%;
  width: 100%;
}

.btn {
  padding: 10px;
  cursor: pointer;
  background-color: #4CAF50;
  box-shadow: 0 3px #999;
  color: white;
  font-weight: bold;
}

.btn:hover {background-color: #3e8e41}

.btn:active {
  background-color: #3e8e41;
  box-shadow: 0 1px #666;
  transform: translateY(2px);
}

.btn.annulla {
  background-color: #d01818
}

.online {
  color: #4CAF50;
}

.offline {
  color: #d01818;
}

#app {
  display: table;
  text-align: center;
  width: 100%;
  height: 100%;
  position: relative;
}

#input-cnt {
  display: table-cell;
  vertical-align: middle;
  padding: 0 5%;
}

#role-cnt {
  padding: 10px 5%;
}

.label {
  text-align: left;
  font-style: italic;
}

#player, #room, #enter, #password {
  display: block;
  margin-bottom: 30px;
  padding: 10px;
  width: 100%;
}

.error {
  font-weight: bold;
  color: #d01818;
  font-style: italic;
}

#new-game {
  position: absolute;
  bottom: 50px;
  left: 50%;
  transform: translate(-50%, 0);
  width: 90%;
}

#player-list-cnt {
  border: 1px solid #eee;
  margin-bottom: 40px;
}

#player-list-cnt.close {
  border-bottom-color: transparent;
} 

#player-list-title {
  color: #4CAF50;
  font-weight: bold;
  border-bottom: 1px solid #eee;
  padding: 10px; 
}

#player-list-toggle {
  float: right;
  font-size: 16px;
  cursor: pointer;
}

#player-list-cnt.close #player-list-toggle {
  transform: rotate(180deg);
}

#setting-toggle {
  float: left;
  cursor: pointer;
  font-size: 16px;
  position: relative;
  z-index: 999;
}

#setting-toggle.close {
  color: #444;
}

#setting-toggle.open {
  color: #fff;
  transform: rotate(180deg);
  /* position: absolute;
  font-size: 28px;
  top: 5px;
  left: 6px; */
}

#player-list {
  text-align: left !important;
  overflow-y: scroll;
  max-height: 96px;
}

#player-list-cnt.close #player-list{
  max-height: 0;
}

.flip-list-move {
  transition: transform 1s;
}

.player {
  position: relative;
  font-size: 12px;
  padding: 3px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.player.myself {
  font-weight: bold;
  background-color: #d9e1ff;
}

.player-score {
  margin-left: 10px;
  padding: 2px 10px;
  border-radius: 50px;
  background-color: aliceblue;
  display: inline-block;
}

.kick, .crown {
  cursor: pointer;
  position: absolute;
  right: 5px;
  top: 7px;
}

.kick {
  color: #ccc;
}
.crown {
  color: #fda40b;
  cursor: default;
  right: 3px;
}

.status {
  margin-right: 5px;
}

#role-description-cnt{
  display: table-cell;
  vertical-align: middle;
  padding: 0 10px;
}

#role {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 26px;
  text-shadow: 1px 1px 0px #AAA;
}

#detail {
  font-style: italic;
  font-size: 18px;
  margin-top: 10px;
}


.flip-card {
  background-color: transparent;
  height: 200px;
  -webkit-perspective: 1000px;
  -khtml-perspective: 1000px;
  -moz-perspective: 1000px;
  -ms-perspective: 1000px;
  perspective: 1000px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  -webkit-transform-style: preserve-3d;
  -khtml-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  border: 1px solid #444;
}

.flip-card.down .flip-card-inner {
  -webkit-transform: rotateY(180deg);
  -khtml-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  -khtml-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-front {
  background-color: #eee;
  z-index: 2;
  display: table;
}

.flip-card-back {
  background-color: #2980b9;
  -webkit-transform: rotateY(180deg);
  -khtml-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  transform: rotateY(180deg);
  z-index: 1;
}

#votazione {
  margin-top: 40px;
  text-align: left; 
}

#votazione select {
    display: inline-block;
    padding: 10px;
    width: 40%;
}

#votazione .btn{
  float: right;
}

#vote-detail {
  text-align: right;
  font-style: italic;
  font-size: 12px;
  margin-top: 5px;
}

select:required:invalid {
  color: gray;
}
option[value=""][disabled] {
  display: none;
}
option {
  color: black;
}

.blur {
  filter: blur(3px);
}

#setting-window {
  position: absolute;
  display: table;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.8);
  top: 0;
  left: 0;
  padding: 5%;
}

#setting-window.close {
  opacity: 0;
  z-index: -999;
}

#setting-window.open {
  opacity: 1;
  z-index: 998;
}

#setting-list {
  display: table-cell;
  vertical-align: middle;
}

.setting {
  text-align: left;
  font-weight: bold;
  color: #fff;
  text-shadow:
   -1px -1px 0 #111,  
    1px -1px 0 #111,
    -1px 1px 0 #111,
     1px 1px 0 #111;
  padding: 20px 0;
  border-top: 1px solid #fff;
}

.setting:last-child {
  border-bottom: 1px solid #fff;
}

.setting ul {
  margin-top: 10px;
  margin-left: 20px;
  font-size: 13px;
  font-weight: normal;
  max-height: 50px;
  display: block;
  overflow-y: scroll;
}

#save-setting {
  position: absolute;
  bottom: 50px;
  left: 50%;
  transform: translate(-50%, 0);
  width: 90%;
}

.switch {
  position: relative;
  float: right;
  width: 37px;
  height: 21px;
  margin-top: -3px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
  margin: 0;
  padding: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  border-radius: 17px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 15px;
  width: 15px;
  left: 4px;
  bottom: 3px;
  background-color: white;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #4CAF50;
}

/* input:focus + .slider {
  box-shadow: 0 0 1px #4CAF50;
} */

input:checked + .slider:before {
  -webkit-transform: translateX(14px);
  -ms-transform: translateX(14px);
  transform: translateX(14px);
}

.slide-fade-enter-active {
  transition: all .3s ease;
}
.slide-fade-leave-active {
  transition: all .8s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}
.slide-fade-enter, .slide-fade-leave-to
/* .slide-fade-leave-active for <2.1.8 */ {
  transform: translateX(10px);
  opacity: 0;
}