* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  height: 100%;
  width: 100%;
}

.btn {
  padding: 10px;
  cursor: pointer;
  background-color: #4CAF50;
  box-shadow: 0 3px #999;
  color: white;
  font-weight: bold;
}

.btn:hover {background-color: #3e8e41}

.btn:active {
  background-color: #3e8e41;
  box-shadow: 0 1px #666;
  transform: translateY(2px);
}

.status {
  padding: 5px;
  border-radius: 100%;
}

.status.online {
  background-color: #4CAF50;
  color: #4CAF50;
}

.status.offline {
  background-color: #dc0001;
  color: #dc0001;
}

#app {
  display: table;
  text-align: center;
  width: 100%;
  height: 100%;
  position: relative;
}

#input-cnt, #role-cnt {
  display: table-cell;
  vertical-align: middle;
  padding: 5%;
}

input#player, input#room, div#enter {
  display: block;
  margin: 20px 0;
  padding: 10px;
  width: 100%;
}

#room_list {
  display: none;
}

#role-cnt button {
  position: absolute;
  bottom: 50px;
  left: 50%;
  transform: translate(-50%, 0);
  padding: 30px;
}

#role {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 22px;
}

#detail {
  font-style: italic;
  margin-top: 10px;
}